//=====================================================
// Grid Columns
//=====================================================

// Calculate grid colums

@media (min-width: $screen-sm) {
  @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count, $g-gutter-width) !global;
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    
    // Generate column modifier classes
    .col--#{$i} {
      width: percentage($target / $context);
    }
  }
}

// Column styles

[class^="col--"] {
  margin: em(12px)0;
  @media (min-width: $screen-sm) {
    @include adjacentSiblings(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-of-type {
      float: right;
    }
  }
}