.btn {
  @include buttons($ui-colors);
}

.btn-input {
    display: inline-block;
    &:nth-child(n+1) {
        margin-left: -5px;
    }
}

.btn-input input {
    display: none;
}

.btn-input input:checked + label {
    background: $green;
    &:hover {
        border-color: darken($yellow, 7%);
    }
}
$radius: 15px;
.btn-input-group > .btn-input > .btn {
    border-radius:0;
}

.btn-input-group > .btn-input:first-of-type > .btn {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

.btn-input-group > .btn-input:last-of-type > .btn {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}