//=====================================================
// Forms
//=====================================================

.form {
  padding: em(20px);
  @include e(label) {
    cursor: pointer;
    display: block;
    font-size: $form--font-size;
    margin: 0 0 0 0;
    @include m(hidden) {
      @extend %srt;
    }
  }
}