%name {
    font-size: em(20px);
    font-weight: $font-weight--bold;
}

.person {
    &-name {
        @extend %name;
    }

    &-title {
        font-style: italic;
        position: relative;
        font-size: em(14px);
        font-weight: $font-weight--medium;

        &:before {
            content: "- ";
        }
    }
}

.mro {
    &-name {
        @extend %name;
    }
}
